.mainDrop {
      width: 45%;
      margin-left: auto;
      margin-right: auto;
}

.dropContainer {
      display: flex;
      position: relative;
      margin-top: 50px;
      background-color: #ff6060;
      color: white;
      border-radius: 10px;
      padding-left: 20px;
      padding: 8px 20px 8px 20px;
      justify-content: space-between;
      z-index: 10;
}

.dropContainer h1 {
      font-weight: 400;
      margin: 0;
      font-size: 24px;
}

.contentContainer {
      background-color: #f6f6f6;
      margin-top: -10px;
      padding: 25px 40px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      opacity: 0;
      animation: display 0.3s ease-out forwards;
}

@keyframes display {
      to {
            opacity: 1;
      }
}

.contentContainer p {
      color: #ff6060;
      display: flex;
      flex-direction: column;
}

.dropContainer:hover {
      cursor: pointer;
}

.downArrow:hover {
      cursor: pointer;
}

@media screen and (max-width: 767px) {
      .contentContainer {
            padding: 25px 20px;
      }

      .mainDrop {
            margin: 0;
            width: 100%;
      }
}
