.carrouselContainer {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
}

.mainImg {
      object-fit: cover;
      border-radius: 10px;
      width: 90vw;
      height: 700px;
      display: block;
      max-width: 1500px;
}

.image {
      opacity: 0;
}

.active {
      opacity: 1;
}

.imgNumber {
      font-size: 2rem;
      position: absolute;
      bottom: 0;
      color: white;
}

.prevArrow {
      position: absolute;
      left: 50px;
      z-index: 10;
      cursor: pointer;
}

.nextArrow {
      position: absolute;
      right: 50px;
      z-index: 10;
      cursor: pointer;
}

@media screen and (max-width: 767px) {
      .mainImg {
            height: 400px;
            width: 99%;
      }

      .prevArrow,
      .nextArrow {
            width: 30px;
      }

      .prevArrow {
            left: 20px;
      }
      .nextArrow {
            right: 20px;
      }

      .imgNumber {
            display: none;
      }
}
