.errorConatiner {
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.errorH1 {
      color: #ff6060;
      font-size: 15rem;
      margin: 0;
}

.errorP {
      color: #ff6060;
      font-size: 2em;
}

.errorLink {
      color: #ff6060;
      font-size: 1em;
      margin-top: 200px;
      text-decoration: underline;
}

@media screen and (max-width: 767px) {
      .errorConatiner {
            height: 60vh;
      }
      .errorH1 {
            margin-top: 200px;
            font-size: 10rem;
      }
      .errorP {
            font-size: 1.5em;
            text-align: center;
      }
      .errorLink {
            margin-top: 100px;
      }
}
