.hostContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 250px;
}

.hostContainer img {
      border-radius: 100%;
      width: 110px;
}

.hostContainer p {
      font-weight: 500;
      margin-right: 15px;
      text-align: right;
      font-size: 1.4em;
}
