.tagsContainer {
      display: flex;
      align-items: center;
      margin-top: 40px;
      margin-left: -15px;
}

.tag {
      border-radius: 15px;
      background-color: #ff6060;
      padding: 7px 15px;
      color: white;
      margin-left: 15px;
}

.tag p {
      margin: 0;
}
